.question-container .btn {
	color: #222;
	font-size: 16px;
	background-color: #e4e4e4;
	display: block;
	width: 200px;
	margin: 10px 0;
	text-align: left;
}

.question-container.long .btn {
	width: 450px;
}

#take-test .test-con {
	margin: 0 auto;
}

.save-notice {
	margin: 10px auto;
	font-size: 12px;
	color: #e4e4e4;
}
