.question-container .btn {
	color: #222;
	font-size: 16px;
	background-color: #e4e4e4;
	display: block;
	width: 200px;
	margin: 10px 0;
	text-align: left;
}

.question-container.long .btn {
	width: 450px;
}

#take-test .test-con {
	margin: 0 auto;
}

.save-notice {
	margin: 10px auto;
	font-size: 12px;
	color: #e4e4e4;
}

textarea[name=noteArea] {
    resize: none;
    color: black;
    overflow: auto;
    margin: 0px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    font-size: .9em;
width: 100%;
height: 310px;
vertical-align: top;
}




.question_notes{
z-index: 1003;
left: 642px;
top: 160px;
position: absolute;
/*margin-left: -250px;*/
font-weight: inherit;
font-style: inherit;

}

.question_notes2{
	
	width: 450px;
	height: 430px !important;
	position: relative;
	left: 0;
	top: 0;
	border: 3px solid #F5F7F7;
	z-index: 1;
	border-width: 1px;

	box-shadow: 0em 0em 5px #000;
	border-radius: 10px;
	background-color: #fff;
	max-height: 500px;
	min-height: 165px;
	border-style: solid;
	border-width: 1px 0;
	border-color: #808080;
}

.notepad_header{
	cursor: move;
	/*padding-left: 10px;*/
	/*padding-top: 0px;*/
	/*padding-right: 10px;*/
	/*padding-bottom: 0px;*/
	line-height: 1.6em;
	margin-bottom: 0em !important;
	margin-left: 0em !important;
	margin-right: 0em !important;
	margin-top: .1em !important;
	
	color: #666;
	border-bottom: solid 1px #CCCCCC;
	background-image: none;
	background-color: #F5F7F7;
	border: none;
	font-size: 1.5em !important;
	font-weight: bold;
	padding: 0 10px;
	/*background: url(../../../../assets/skins/sam/sprite.png) repeat-x 0 -200px*/
	/*border-style: solid;
	border-width: 0 1px;
	border-color: #808080;*/
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.question_notes3{

	height: auto !important;
	padding: 10px;
font-size: 1.3em;
background-color: #fff;
border: none;
border-style: solid;
border-width: 0 1px;
border-color: #808080;
}

.notepad_footer{
padding: 5px;
background-color: #fff;
border: none;
border-top: 0;
font-size: 100%;
border-style: solid;
border-width: 0 1px;
border-color: #808080;
}

.button-group{
	display: block;
text-align: right;
background-color: inherit !important;
font-size: 1em;
height: 2em;
padding-bottom: 5px;
margin: 0;
padding: 0;
border: 0;
outline: 0;
}

.button-group button:hover
{background-color: #0E4878 !important;
color: #fff !important;}

.notepad_cancel1{
display: block;
float: left;
border: 1px solid #0E4878;
border-radius: 5px;
color: #000;
text-decoration: none;
line-height: 2em;
padding: 0px;
margin-right: .5em;
background-image: none !important;
/* prevent buttons from breaking out of dialog boxes*/
max-width: 50%;
overflow: hidden;
border-width: 1px 0;
border-style: solid;
border-color: #808080;
background: url(../../../../assets/skins/sam/sprite.png) repeat-x 0 0;
margin: auto .25em;
vertical-align: text-bottom;
text-align: right;
}


.notepad_cancel2{
	display: block;
float: left;
border: none !important;
line-height: inherit;
padding: 0px;
margin-right: 0px;
border-width: 0 1px;
border-style: solid;
border-color: #808080;
margin: 0 -1px;
text-align: right;
}

.notepad_cancel_button{
	/*border: none;*/
display: block;
margin: 0px;
background-color: transparent;
cursor: pointer;
color: #000000;
font-size: 93%;
line-height: 2em;
min-height: 2em;
padding: 0px 1em;
border-radius: 4px;
-webkit-appearance: button;
box-sizing: border-box;
font-style: normal;
font-weight: 400;
font-variant: normal;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
-webkit-writing-mode: horizontal-tb !important;
}

.notepad_save1{
	border-color: #304369;
background-position: 0 -1400px;
display: block;
float: left;
border: 1px solid #0E4878;
border-radius: 5px;
color: #000;
text-decoration: none;
line-height: 2em;
padding: 0px;
margin-right: .5em;
background-image: none !important;
/* prevent buttons from breaking out of dialog boxes*/
max-width: 50%;
overflow: hidden;
border-width: 1px 0;
border-style: solid;
border-color: #808080;
background: url(../../../../assets/skins/sam/sprite.png) repeat-x 0 0;
margin: auto .25em;
vertical-align: text-bottom;
text-align: right;
}
.notepad_save2{
	border-color: #304369
	display: block;
float: left;
border: none !important;
line-height: inherit;
padding: 0px;
margin-right: 0px;
border-width: 0 1px;
border-style: solid;
margin: 0 -1px;
color: #000;
text-decoration: none;
text-align: right;
}
.notepad_save_button{
	color: inherit;
	border: none;
display: block;
margin: 0px;
background-color: transparent;
cursor: pointer;
color: #000000;
font-size: 93%;
line-height: 2em;
min-height: 2em;
padding: 0px 1em;
border-radius: 4px;
-webkit-appearance: button;
vertical-align: baseline;
align-items: flex-start;
text-align: center;
font-variant: normal;
letter-spacing: normal;
word-spacing: normal;
letter-spacing: normal;
word-spacing: normal;
-webkit-writing-mode: horizontal-tb !important;
text-decoration: none;
}
