<!-- This is the html file for the instructions page of a EOC practice test web app. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The instructions page for an EOC practice test app.">
  
    <title>Instructions</title>

    <meta name="author" content="CEN3031 Group 9C">
    <link rel="icon" href="../images/PKY.jpg">
  
    <!-- Bootstrap itself -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/styleInstructions.css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  </head>

  <body body class="theme-invert">

    <!-- Creating the dropdown menu. -->
    <nav class="mainmenu">
      <div class="container">
        <div class="dropdown">
          <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

    
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

            <li><a href="instructions.html">Instructions</a></li>
            <li><a href="#">Accessing the Test</a></li>
            <li><a href="signIn.html">Signing In</a><li>
            <li><a href="features.html">Test Features</a></li>
            <li><a href="questions.html">Question Types</a></li>
        
          </ul>
        </div>
      </div>
    </nav>

    <!-- Accessing the Test Section -->
    <section class="section" id="head">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Accessing the Test</h1>
            <h2 class="tagline highlightWhite">Where and how to take the practice EOC exam.<br></h2>

            <p class="lead text-center highlightBlue">In order to access the test, please go to the main page of this website.</p>
            <p class="lead text-center highlightBlack"></p>
            <a href = "../../../intro/client/views/index.html"><img class="img-responsive text-right" src = "../images/homepage.png" align = "left"></a>
            <p class="lead text-center borderBlue">_</p>
            <p class="lead text-center highlightBlack"></p>

            <p class="lead text-center highlightBlue">Once there, the test can be accessed either by pressing the large "Begin Practice Test" button on the homepage, or by using the menu on the upper-left to get to the "Resources" page and selecting "Begin Test."</p>
            <p class="lead text-center highlightBlack"></p>
            <img class="img-responsive text-right" src = "../images/resources.jpg" align = "left">
            <p class="lead text-center borderBlue">_</p>
            <p class="lead text-center highlightBlack"></p>

            <p class="lead text-center highlightBlue">It is important to note that the test is best and most easily taken using any modern web browser on a computer, as opposed to a phone or tablet device.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="../js/modernizr.custom.72241.js"></script>
    <!-- Custom template scripts -->
    <script src="../js/menu.js"></script>
  </body>
</html>
