<!-- This is the html file for the instructions page of a EOC practice test web app. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The instructions page for an EOC practice test app.">
  
    <title>Instructions</title>

    <meta name="author" content="CEN3031 Group 9C">
    <link rel="icon" href="../images/PKY.jpg">
  
    <!-- Bootstrap itself -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/styleInstructions.css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  </head>

  <body body class="theme-invert">

    <!-- Creating the dropdown menu. -->
    <nav class="mainmenu">
      <div class="container">
        <div class="dropdown">
          <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

    
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

            <li><a href="instructions.html">Instructions</a></li>
            <li><a href="access.html">Accessing the Test</a></li>
            <li><a href="signIn.html">Signing In</a><li>
            <li><a href="#">Test Features</a></li>
            <li><a href="questions.html">Question Types</a></li>
        
          </ul>
        </div>
      </div>
    </nav>

    <!-- Test Features Section -->
    <section class="section" id="head">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Test Features</h1>
            <h2 class="tagline highlightWhite">How to use the features provided by this test-taking site.<br></h2>
            <p class="lead text-center highlightBlue margin">This online practice test provides a number of different tools while taking the test in order to provide students with everything they will be able to use on an actual EOC exam.</p>

            <img class="img-responsive text-right" src = "../images/TestPage.png" align = "left">
            <p class="lead text-center borderBlue">_</p>

            <h1 class="subtitle">Navigation</h1> 
            <p class="lead text-center highlightBlue margin">On the top left of the test sceen, you will find a number of different buttons for navigating through the exam: <br/> -The "Back" and "Next" buttons allow you to move forwards and backwards among questions. <br/> -The "Pause" button allows you to temporarily pause the test and return to it later. <br/> -The "End Test" button will permanantly end the current test you are taking.</p>

            <h1 class="subtitle">Tools</h1> 
            <p class="lead text-center highlightBlue">On the top right of the test sceen, you will find a number of different tools to use on the test: <br/> -The "Formula" button brings up an approved formula sheet you can view while taking the exam. <br/> -The "Calculator" button will bring up a basic calculator which can be used during the exam. <br/> -The "Line Reader" button will highlight each line of the question in order. <br/> The "Zoom In"and "Zoom Out" buttons will zoom in and zoom out of the page when pressed.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="../js/modernizr.custom.72241.js"></script>
    <!-- Custom template scripts -->
    <script src="../js/menu.js"></script>
  </body>
</html>
