<!-- This is the html file for the instructions page of a EOC practice test web app. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The instructions page for an EOC practice test app.">
  
    <title>Instructions</title>

    <meta name="author" content="CEN3031 Group 9C">
    <link rel="icon" href="../images/PKY.jpg">
  
    <!-- Bootstrap itself -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/styleInstructions.css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  </head>

  <body body class="theme-invert">

    <!-- Creating the dropdown menu. -->
    <nav class="mainmenu">
      <div class="container">
        <div class="dropdown">
          <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

    
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

            <li><a href="#head" class="active">Instructions</a></li>
            <li><a href="#access">Accessing the Test</a></li>
            <li><a href="#signIn">Signing In</a><li>
            <li><a href="#features">Test Features</a></li>
            <li><a href="#questions">Question Types</a></li>
        
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Intro Section -->
    <section class="section" id="head">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

            <h1 class="title">Instructions</h1>
            <h2 class="tagline highlightWhite">Taking the Practice EOC Exam<br></h2>
            <p class="lead text-center highlightBlue">Welcome to the instructions page for the EOC online practice test. Please use the menu on the upper-left to access different parts of the instructions, or click the link below to download them in the form of a pdf.</p>
            <p><a href = "../images/instructions.pdf" class="btn btn-default btn-lg">Instructions.pdf</a></p>
            <p class="lead text-center highlightBlue"><a href = "../../../intro/client/views/index.html">Return to Homepage</a></p>

            <img class="img-rounded img-responsive text-right padding" src = "../images/PKY.jpg" align = "right">

            <img class="img-responsive text-right padding" src = "../images/UF.png" align = "left">
  
          </div> 
        </div> 
  
      </div>
    </section>

    <!-- Accessing the Test Section -->
    <section class="section" id="access">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

            <h1 class="title">Accessing the Test</h1>
            <h2 class="tagline highlightWhite">Where and how to take the practice EOC exam.<br></h2>

            <p class="lead text-center highlightBlue">In order to access the test, please go to the main page of this website.</p>
            <p class="lead text-center highlightBlack"></p>
            <a href = "../../../intro/client/views/index.html"><img class="img-responsive text-right" src = "../images/homepage.png" align = "left"></a>
            <p class="lead text-center borderBlue">_</p>
            <p class="lead text-center highlightBlack"></p>

            <p class="lead text-center highlightBlue">Once there, the test can be accessed either by pressing the large "Begin Practice Test" button on the homepage, or by using the menu on the upper-left to get to the "Resources" page and selecting "Begin Test."</p>
            <p class="lead text-center highlightBlack"></p>
            <img class="img-responsive text-right" src = "../images/resources.jpg" align = "left">
            <p class="lead text-center borderBlue">_</p>
            <p class="lead text-center highlightBlack"></p>

            <p class="lead text-center highlightBlue">It is important to note that the test is best and most easily taken using any modern web browser on a computer, as opposed to a phone or tablet device.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>

    <!-- Signing In Section -->
    <section class="section" id="signIn">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

            <h1 class="title">Signing In</h1>
            <h2 class="tagline highlightWhite">How to sign in and begin taking the test.<br></h2>
            <p class="lead text-center highlightBlue margin">Once you have chosen that you would like to take a test, you will be prompted to sign in. There are two very different options available for signing in, as a user or as a guest, both of which are discussed here. In general, signing in as a guest is faster, but provides fewer features than signing in as a user.</p>

            <img class="img-responsive text-right" src = "../images/LogIn.png" align = "left">
            <p class="lead text-center borderBlue">_</p>

            <h1 class="subtitle">User Sign In</h1> 
            <p class="lead text-center highlightBlue">If you have never signed in as a user before, you must first choose to create a new account. This will allow you to choose a username and password so that you may sign in with them in the future.</p>
            <p class="lead text-center highlightBlue">If you have already created a username and password, then you can sign in by entering them.</p>
            <p class="lead text-center highlightBlue margin">Signing in as a user comes with a number of advantages, as it will allow this website to remember what you have done on it thus far. You will be able to review past exams, and see which practice exams you have already taken, among other things.</p>

            <h1 class="subtitle">Guest Sign In</h1> 
            <p class="lead text-center highlightBlue">If you do not need to have this site remember your work on past exams or would just like to sign in quickly, you can sign in as a guest. To do this, please select "Guest Sign In," and you will be able to take exams without creating an account.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>

    <!-- Test Features Section -->
    <section class="section" id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

            <h1 class="title">Test Features</h1>
            <h2 class="tagline highlightWhite">How to use the features provided by this test-taking site.<br></h2>
            <p class="lead text-center highlightBlue margin">This online practice test provides a number of different tools while taking the test in order to provide students with everything they will be able to use on an actual EOC exam.</p>

            <img class="img-responsive text-right" src = "../images/TestPage.png" align = "left">
            <p class="lead text-center borderBlue">_</p>

            <h1 class="subtitle">Navigation</h1> 
            <p class="lead text-center highlightBlue margin">On the top left of the test sceen, you will find a number of different buttons for navigating through the exam: <br/> -The "Back" and "Next" buttons allow you to move forwards and backwards among questions. <br/> -The "Pause" button allows you to temporarily pause the test and return to it later. <br/> -The "End Test" button will permanantly end the current test you are taking.</p>

            <h1 class="subtitle">Tools</h1> 
            <p class="lead text-center highlightBlue">On the top right of the test sceen, you will find a number of different tools to use on the test: <br/> -The "Formula" button brings up an approved formula sheet you can view while taking the exam. <br/> -The "Calculator" button will bring up a basic calculator which can be used during the exam. <br/> -The "Line Reader" button will highlight each line of the question in order. <br/> The "Zoom In"and "Zoom Out" buttons will zoom in and zoom out of the page when pressed.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>

    <!-- Question Types Section -->
    <section class="section" id="questions">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

            <h1 class="title">Question Types</h1>
            <h2 class="tagline highlightWhite">How to answer the different types of questions you might see on an exam.<br></h2>
            <p class="lead text-center highlightBlue">There are five main types of questions you may be asked on the algebra EOC exam:</p>
            <p class="lead text-center highlightBlue">-Multiple choice questions provide a number of possible answers, and you must select the correct one.</p>
            <p class="lead text-center highlightBlue">-Fill in the blank questions require you to solve a problem on your own, and put the correct answer in the text box.</p> 
            <p class="lead text-center highlightBlue">-Drag and drop questions provide an incomplete statement and a word bank. Each element in the word bank must be dragged to its correct place in the statement.</p>
            <p class="lead text-center highlightBlue">-Shading questions require you to select the correct area to shade in based on the question.</p>
            <p class="lead text-center highlightBlue">-Graphing questions require you to create points, lines, or curves correctly on a provided graph.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="../js/modernizr.custom.72241.js"></script>
    <!-- Custom template scripts -->
    <script src="../js/menu.js"></script>
  </body>
</html>
