<!-- This is the html file for the instructions page of a EOC practice test web app. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The instructions page for an EOC practice test app.">
  
    <title>Instructions</title>

    <meta name="author" content="CEN3031 Group 9C">
    <link rel="icon" href="../images/PKY.jpg">
  
    <!-- Bootstrap itself -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/styleInstructions.css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  </head>

  <body body class="theme-invert">

    <!-- Creating the dropdown menu. -->
    <nav class="mainmenu">
      <div class="container">
        <div class="dropdown">
          <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

    
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

            <li><a href="instructions.html">Instructions</a></li>
            <li><a href="access.html">Accessing the Test</a></li>
            <li><a href="#">Signing In</a><li>
            <li><a href="features.html">Test Features</a></li>
            <li><a href="questions.html">Question Types</a></li>
        
          </ul>
        </div>
      </div>
    </nav>

    <!-- Signing In Section -->
    <section class="section" id="head">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Signing In</h1>
            <h2 class="tagline highlightWhite">How to sign in and begin taking the test.<br></h2>
            <p class="lead text-center highlightBlue margin">Once you have chosen that you would like to take a test, you will be prompted to sign in. There are two very different options available for signing in, as a user or as a guest, both of which are discussed here. In general, signing in as a guest is faster, but provides fewer features than signing in as a user.</p>

            <img class="img-responsive text-right" src = "../images/LogIn.png" align = "left">
            <p class="lead text-center borderBlue">_</p>

            <h1 class="subtitle">User Sign In</h1> 
            <p class="lead text-center highlightBlue">If you have never signed in as a user before, you must first choose to create a new account. This will allow you to choose a username and password so that you may sign in with them in the future.</p>
            <p class="lead text-center highlightBlue">If you have already created a username and password, then you can sign in by entering them.</p>
            <p class="lead text-center highlightBlue margin">Signing in as a user comes with a number of advantages, as it will allow this website to remember what you have done on it thus far. You will be able to review past exams, and see which practice exams you have already taken, among other things.</p>

            <h1 class="subtitle">Guest Sign In</h1> 
            <p class="lead text-center highlightBlue">If you do not need to have this site remember your work on past exams or would just like to sign in quickly, you can sign in as a guest. To do this, please select "Guest Sign In," and you will be able to take exams without creating an account.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="../js/modernizr.custom.72241.js"></script>
    <!-- Custom template scripts -->
    <script src="../js/menu.js"></script>
  </body>
</html>
