/** style.css for choose-test module **/
/**   Created by Cody Fitzpatrick   **/

.col-centered {
	float: none;
	margin: 0 auto;
}

.test-select-overlay {
	display: none;
	background-color: rgba(0,0,0, 0.7);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}

#test-confirm-box {
	background: #fff;
	padding: 20px 20px 40px 20px;
	margin-top: 40px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.more-tests-notice {
	color: #4e4e4e;
	margin-top: 20px;
}

.active-test-overlay {
	display: none;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}