<section ng-controller="HomeController">

<!-- Main (Home) section -->
<section class="section" id="head">
		<h2 class="text-center title">About</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>About the Training and Practice Tests<br></strong></h5>
				<p>
					The purpose of the training and practice tests is for students to become familiar with the CBT system, functionality, and item types; the training/practice tests are not intended to guide classroom instruction. Descriptions and response instructions for each item type are included in the Training and Practice Tests Quick Guide. Users should refer to the tutorials on each item or the guide to familiarize themselves with the different features and response instructions for each item type.
					<br><br>
					Training tests were released in 2014 and contain test items for multiple grade levels (subjects for EOC). Grade-level and subject-specific practice tests are being developed for release beginning in Fall 2015. Please see the list for the availability of practice tests. Please note that the training tests will be available until all practice tests are published. 
				</p>    
			</div>
			<div class="col-sm-4">
				<h5><strong>Other information<br></strong></h5> 
				<p>
		            Answer keys for English Language Arts (ELA) Reading and Mathematics training and practice tests that list the item, correct answer, and grade level/subject of each item are also available for each published training/practice test. ELA Writing rubrics are available under the <a href="http://fsassessments.org/resources">FSA Resources section</a>
		            <br><br>
		            Users must use the Secure Browser or a supported Web browser to access the Training and Practice Test site. The supported Web browsers for the training and practice tests are Firefox 10–36, Chrome 41–44, Safari 5–8, or Internet Explorer 10–11.
		        </p>
			</div> 
		</div> 
	</div>
</section>


</section>