<section ng-controller="HomeController">

<!-- Main (Home) section -->
<section class="section" id="head">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Accessing the Test</h1>
            <h2 class="tagline highlightWhite">Where and how to take the practice EOC exam.<br></h2>

            <p class="lead text-center highlightBlue">In order to access the test, please go to the main page of this website.</p>
            <p class="lead text-center highlightBlack"></p>
             <a ui-sref = "resources"><img class="img-responsive text-right" src = "modules/core/client/img/instructions/home.jpg" align = "left">
            <p class="lead text-center borderBlue">_</p></a>

            <p class="lead text-center highlightBlue">Once there, the test can be accessed either by pressing the large "Begin Practice Test" button on the homepage, or by selecting "Choose Test" on the top menu.</p>
            <p class="lead text-center highlightBlack"></p>

            <p class="lead text-center highlightBlue">It is important to note that the test is best and most easily taken using any modern web browser on a computer. It will likely not be functional on a phone or tablet device.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>
</section>

</section>

