<section ng-controller="HomeController">
  
<!-- Main (Home) section -->
<section class="section" id="head">
 
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Test Features</h1>
            <h2 class="tagline highlightWhite">How to use the features provided by this test-taking site.<br></h2>
            <p class="lead text-center highlightBlue margin">This online practice test provides a number of different tools while taking the test in order to provide students with everything they will be able to use on an actual EOC exam.</p>

            <img class="img-responsive text-right" src = "modules/core/client/img/instructions/TestPage.jpg" align = "left">
            <p class="lead text-center borderBlue">_</p>

            <h1 class="subtitle">Navigation</h1> 
            <p class="lead text-center highlightBlue margin">On the top of the test sceen, you will find a number of different buttons for navigating through the exam: <br/> -The back and next buttons allow you to move forwards and backwards among questions. <br/> -The dropdown menu allows you to move to any question of your choosing.<br/> -The "Submit Test" button will permanantly end the current test you are taking.</p>

            <h1 class="subtitle">Tools</h1> 
            <p class="lead text-center highlightBlue">On the top left of the test sceen, you will find a number of different tools to use on the test: <br/> -The "Calculator" button will bring up a basic calculator which can be used during the exam. <br/> -The "Formula Sheet" button brings up an approved formula sheet you can view while taking the exam. <br/> -The "Notepad" button brings up a notepad that will be saved with this question, in case you'd like to come back to the question and review your notes. <br/> -The "Mark for Review" marks a question for review, which shows up while on the question, and in the dropdown question menu. <br/>
  
          </div> 
        </div> 
  
      </div>
    </section>
</section>


</section>

