<section ng-controller="HomeController">
  
<!-- Main (Home) section -->
<section class="section" id="head">
 
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Test Features</h1>
            <h2 class="tagline highlightWhite">How to use the features provided by this test-taking site.<br></h2>
            <p class="lead text-center highlightBlue margin">This online practice test provides a number of different tools while taking the test in order to provide students with everything they will be able to use on an actual EOC exam.</p>

            <img class="img-responsive text-right" src = "modules/core/client/img/instructions/TestPage.png" align = "left">
            <p class="lead text-center borderBlue">_</p>

            <h1 class="subtitle">Navigation</h1> 
            <p class="lead text-center highlightBlue margin">On the top left of the test sceen, you will find a number of different buttons for navigating through the exam: <br/> -The "Back" and "Next" buttons allow you to move forwards and backwards among questions. <br/> -The "Pause" button allows you to temporarily pause the test and return to it later. <br/> -The "End Test" button will permanantly end the current test you are taking.</p>

            <h1 class="subtitle">Tools</h1> 
            <p class="lead text-center highlightBlue">On the top right of the test sceen, you will find a number of different tools to use on the test: <br/> -The "Formula" button brings up an approved formula sheet you can view while taking the exam. <br/> -The "Calculator" button will bring up a basic calculator which can be used during the exam. <br/> -The "Line Reader" button will highlight each line of the question in order. <br/> The "Zoom In"and "Zoom Out" buttons will zoom in and zoom out of the page when pressed.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>
</section>


</section>

