<section ng-controller="HomeController">

<!-- Main (Home) section -->
<section class="section" id="head">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>

	<div id="home-con" class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
				<h1 class="title">Welcome,</h1>
				<h2 class="subtitle">P.K. Yonge</h2>
				<h3 class="tagline">EOC Practice Exams</h3>
				<p><a class="btn btn-default btn-lg start-test" ui-sref="choose-test">Begin Practice Test</a></p>	
			</div> 
		</div> 
	</div>

</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="../js/menu.js"></script>
</section>