<section ng-controller="HomeController">

<!-- Main (Home) section -->
<section class="section" id="head">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Instructions</h1>
            <h2 class="tagline highlightWhite">Taking the Practice EOC Exam<br></h2>
            <p class="lead text-center highlightBlue">Welcome to the instructions page for the EOC online practice test. Please use the menu on the upper-left to access different parts of the instructions, or click the link below to download them in the form of a pdf.</p>
            <p><a href = "modules/core/client/img/instructions/instructions.pdf" target="_blank" class="btn btn-default btn-lg">Instructions.pdf</a></p>

            <img class="text-right padding" src="modules/core/client/img/instructions/UF.png" align = "center">
            <img class="text-right padding" src="modules/core/client/img/pkylogo.jpg" align = "center">
  
          </div> 
        </div> 
  
      </div>
    </section>
</section>

</section>

