<section ng-controller="HomeController">

<!-- Main (Home) section -->
<section class="section" id="head">
    
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Signing In</h1>
            <h2 class="tagline highlightWhite">How to sign in and begin taking the test.<br></h2>
            <p class="lead text-center highlightBlue margin">Once you have chosen that you would like to take a test, you will be prompted to sign in. Please do so using your student id and a secure password.</p>

            <img class="img-responsive text-right" src ="modules/core/client/img/instructions/LogIn.png" align = "left">
            <p class="lead text-center borderBlue">_</p>

            <h1 class="subtitle">User Sign In</h1> 
            <p class="lead text-center highlightBlue">If you have never signed in as a user before, you must first choose to create a new account. This will allow you to choose a username and password so that you may sign in with them in the future.</p>
            <p class="lead text-center highlightBlue">If you have already created a username and password, then you can sign in by entering them.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>
</section>

</section>

