<section ng-controller="HomeController">

<!-- Main (Home) section -->
<section class="section" id="head">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Signing In</h1>
            <h2 class="tagline highlightWhite">How to sign in and begin taking the test.<br></h2>
            <p class="lead text-center highlightBlue margin">Once you have chosen that you would like to take a test, you will be prompted to sign in. There are two very different options available for signing in, as a user or as a guest, both of which are discussed here. In general, signing in as a guest is faster, but provides fewer features than signing in as a user.</p>

            <img class="img-responsive text-right" src ="modules/core/client/img/instructions/LogIn.png" align = "left">
            <p class="lead text-center borderBlue">_</p>

            <h1 class="subtitle">User Sign In</h1> 
            <p class="lead text-center highlightBlue">If you have never signed in as a user before, you must first choose to create a new account. This will allow you to choose a username and password so that you may sign in with them in the future.</p>
            <p class="lead text-center highlightBlue">If you have already created a username and password, then you can sign in by entering them.</p>
            <p class="lead text-center highlightBlue margin">Signing in as a user comes with a number of advantages, as it will allow this website to remember what you have done on it thus far. You will be able to review past exams, and see which practice exams you have already taken, among other things.</p>

            <h1 class="subtitle">Guest Sign In</h1> 
            <p class="lead text-center highlightBlue">If you do not need to have this site remember your work on past exams or would just like to sign in quickly, you can sign in as a guest. To do this, please select "Guest Sign In," and you will be able to take exams without creating an account.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="../js/menu.js"></script>
</section>

