<section ng-controller="HomeController">

<!-- Main (Home) section -->
<section class="section" id="head">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<h2 class="text-center title">Available Tests</h2>
                   <div class="col-sm-4 col-sm-offset-2">
                    <h5><strong>The training tests combine sample items for different grade levels and subject areas. The following training tests are available</strong></h5><br>
                    <p>FSA ELA Writing: Grade 4-10 <br>
                    <a href="#" class="btn btn-default btn-lg">Writing</a><br>
                    FSA ELA Reading: Grade 3-10<br>
                    <a href="#" class="btn btn-default btn-lg">Reading</a><br>
                    FSA ELA Math: Grade 3-8 <br>
                    <a href="#" class="btn btn-default btn-lg">Math</a><br>
                    FSA ELA Math: End of Course Exam <br>
                    <a href="#" class="btn btn-default btn-lg">FSA EOC</a><br>
					<p>
				   </div> 

				   <div class="col-sm-4">
				   	<h5><strong>The practice tests contain sample items for specific grade-level/subject tests. Practice tests will be released in Fall 2015 as they are available. The following practice tests are currently available:</strong></h5><br>
				   	<p>FSA ELA Writing: <br>
                    <a href="#" class="btn btn-default btn-lg">Writing</a><br>
                    FSA ELA Reading: 10<br>
                    <a href="#" class="btn btn-default btn-lg">Reading</a><br>
				   </div>
		</div> 
	</div>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="../js/menu.js"></script>
</section>
