<section ng-controller="HomeController">

<!-- Main (Home) section -->
<section class="section" id="head">
  
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 text-center"> 

            <h1 class="title">Question Types</h1>
            <h2 class="tagline highlightWhite">How to answer the different types of questions you might see on an exam.<br></h2>
            <p class="lead text-center highlightBlue">There are five main types of questions you may be asked on the algebra EOC exam:</p>
            <p class="lead text-center highlightBlue">-Multiple choice questions provide a number of possible answers, and you must select the correct one.</p>
            <p class="lead text-center highlightBlue">-Fill in the blank questions require you to solve a problem on your own, and put the correct answer(s) in the text box(es).</p> 
            <p class="lead text-center highlightBlue">-Multiple select questions provide a number of possibles answers, and you must select which ones are correct.</p>
  
          </div> 
        </div> 
  
      </div>
    </section>
</section>

</section>

