<!-- The choose-test view -->
<section id="choose-test" class="container" ng-controller="ChooseTestController">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Choose Your Test</h1>
			</div>
		</div>
	</div>
	<!-- choosing which test you want -->
	<div class="row">
		<div class="col-md-6 test-con">
			<h2 class="test-title">Algebra I</h2>
			<a class="btn btn-info btn-lg start-test" role="button" ng-click="startTest('A1')">Start Test</a>
		</div>
		<div class="col-md-6 test-con">
			<h2 class="test-title">Algebra II</h2>
			<a class="btn btn-info btn-lg start-test" role="button" ng-click="startTest('A2')">Start Test</a>
		</div>
	</div>
</section>
