<!-- The choose-test view -->
<section id="choose-test" class="container" ng-controller="ChooseTestController" ng-init="create()">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Choose Your Test</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 test-con">
			<h2 class="test-title">Algebra I</h2>
			<a class="btn btn-info btn-lg start-test" ui-sref="question1" role="button" data-test-subj='Algebra I'>Start Test</a>
		</div>
		<div class="col-md-6 test-con">
			<h2 class="test-title">Algebra II</h2>
			<a class="btn btn-info btn-lg start-test" ui-sref="question1" role="button" data-test-subj='Algebra II'>Start Test</a>
		</div>
	</div>
</section>
