<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="EOC Practice Test Homepage">
	
	<title>PK Yonge EOC Exams - Choose Your Test</title>

    <meta name="author" content="CEN3031 Group 9C">
    <link rel="icon" href="../images/PKY_Oval-2.jpg">
	
	<!-- Bootstrap itself -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="../css/style.css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active">Hello</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#Resources">Resources</a><li>
				<li><a href="#tests">Available Tests</a></li>
				<li><a href="#contact">Contact Us</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Temporary section to display progress to test screen -->
<div class="active-test-overlay">
	<div class="container">
		<div class="row">
			<div id="test-take-box" class="col-lg-8 col-centered text-center">
				<div class="row">
					<div class="col-md-6 ">
						<h2 class="text-left" id="active-test-subj"></h2>
					</div>
					<div class="col-md-6">
						<h2 class="text-right">Active Test</h2>
					</div>
				</div>
				<p>(Test Content Here)</p>
				<a id="close-test" href="#">Close Test (for Demo)</a>
			</div>
		</div>
	</div>
</div>

<div class="test-select-overlay">
	<div class="container">
		<div class="row">
			<div id="test-confirm-box" class="col-lg-8 col-centered text-center">
				<h2>You are about to start</h2>
				<h3 id="test-subject-msg"></h3>
				<p>Please confirm your test selection.</p>
				<div class="row">
					 <div class="col-md-6 ">
						 <button class="btn btn-primary btn-lg" href="#" id="confirm-test-selection">Take Test</button>
					 </div>
					  <div class="col-md-6">
						  <button class="btn btn-danger btn-lg" href="#" id="cancel-test-selection">Cancel</button>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Main section -->
<section class="section" id="test-selection">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
			<h1 class="title">Choose Your Test</h1>
			<div class="row">
			  <div class="col-md-6">
				  <h2 class="test-title">Algebra I</h2>
				  <a class="btn btn-info btn-lg start-test" href="#take-test-alg-1" role="button" data-test-subj='Algebra I'>Start Test</a>
			  </div>
			  <div class="col-md-6">
				  <h2 class="test-title">Algebra II</h2>
				  <a class="btn btn-info btn-lg start-test" href="#take-test-alg-2" role="button" data-test-subj='Algebra II'>Start Test</a>
			  </div>
			</div>
			<h5 class="more-tests-notice">More tests are coming soon.</h5>
			</div> 
		</div> 
	</div>
</section>

<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../js/modernizr.custom.72241.js"></script>
<script src="../js/choose-test.js"></script>

</body>
</html>
