/*
html {
	background: none !important;
	background-color: #fafafa !important;
}*/

section#choose-test h1, section#confirm-test h1 {
	color: #222;
}

section#choose-test .page-header, section#confirm-test .page-header {
	border-bottom: 2px solid #999;
}

section#choose-test .test-con {
	background-color: #fff;
	padding: 20px;
	border: 2px solid #ecf0f1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	margin: 10px auto;
}

section#choose-test .test-con .test-title {
	color: #222;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
}

section#choose-test .test-con a.start-test {
	background-image: none;
	background-color: #2980b9;
	display: block;
	width: 200px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}

section#choose-test .test-con a.start-test:hover, section#choose-test .test-con a.start-test:active {
	background-color: #3498db;
	border-color: #bbb;
}

@media screen and (min-width: 992px) {
	section#choose-test .test-con {
		width: 47%;
		margin: 10px;
	}
}