<!-- THIS VIEW IS A SUMMARY OF A SPECIFIC USER'S TESTING SESSION, and is not really in use right now because time called for moving most of this functionality to review-test.client.view.html
    IDEALLY, THIS VIEW SHOULD BE APPROACHED FROM review-test.client.view.html, WHEN THEY CLICK ON A PARTICULAR TEST, AND SHOULD DO MOST OF THE SPECIFIC-TEST-GRADING THAT REVIEW-TEST.CLIENT.VIEW.HTML IS DOING CURRENTLY.
 -->

<section ng-controller="ReviewController" ng-init="loadSessions()">
  <div class="page-header">
    <!--<h1 class = "text-center">{{_id}}</h1>-->

    <div ng-repeat="question in userQuestions">
      {{$index + 1}} {{question.question_body}}

      <div ng-repeat="answer_choice in question.answer_choices">
        {{answer_choice}}
      </div>

      <div>
        {{user_answers[$index]}}
      </div>

      <div>
        {{question.correct_answer}}
      </div>

       <div>
        {{question.standard}}
      </div>
    </div>

    <!--
      something like:
      correct answers/total answers 
    -->
   
  </div>
</section>