<!-- THIS VIEW SHOULD BE TAKEN FROM review-test.client.view.html
     THIS VIEW IS A SUMMARY OF A SPECIFIC USER'S TESTING SESSION
 -->

<section ng-controller="ReviewController" ng-init="loadSessions()">
  <div class="page-header">
    <!--<h1 class = "text-center">{{_id}}</h1>-->

    <div ng-repeat="question in userQuestions">
      {{$index + 1}} {{question.question_body}}

      <div ng-repeat="answer_choice in question.answer_choices">
        {{answer_choice}}
      </div>

      <div>
        {{user_answers[$index]}}
      </div>

      <div>
        {{question.correct_answer}}
      </div>

       <div>
        {{question.standard}}
      </div>
    </div>

    <!--
      something like:
      correct answers/total answers 
    -->
   
  </div>
</section>