<!-- This is the html file for the home page of a EOC practice test web app. -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="EOC Practice Test Homepage">
	
	<title>PK Yonge EOC Exams</title>

    <meta name="author" content="CEN3031 Group 9C">
    <link rel="icon" href="../images/PKY_Oval-2.jpg">
	
	<!-- Bootstrap itself -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="../css/style.css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

		
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

				<li><a href="index.html">Hello</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="Resources.html">Resources</a><li>
				<li><a href="test.html">Available Tests</a></li>
				<li><a href="contact.html">Contact Us</a></li>
				
			</ul>
		</div>
	</div>
</nav>
	<div class="container">
	
		<h2 class="text-center title">Resources</h2>
		<p class="lead text-center">
			Training and Practice Tests
		</p>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-3">
				<div class="thumbnail">
					<img src="../images/portfolio/1.png" alt="">
					<div class="caption">
						<h3>Computer-Based</h3>
						<p>Training and Practice Tests</p>
						<p><a href="../../../test_portal/client/views/testInfo.html" class="btn btn-primary" role="button">Begin Test</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<img src="../images/portfolio/2.png" alt="">
					<div class="caption">
						<h3>Quick Guide for</h3>
						<p>Training and Practice Tests</p>
						<p><a href="../../../instructions/client/views/instructions.html" class="btn btn-primary" role="button">Quick Guide</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-sm-offset-3">
				<div class="thumbnail">
					<img src="../images/portfolio/3.png" alt="">
					<div class="caption">
						<h3>Answer Keys for</h3>
						<p>Computer-Based Training and Practice Tests</p>
						<p><a href="http://fsassessments.org/students-and-families/training-tests/computer-based-training-test-answer-keys/" class="btn btn-primary" role="button">Answer Keys</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<img src="../images/portfolio/4.png" alt="">
					<div class="caption">
						<h3>Test Materials</h3>
						<p>Paper-Based Training and Practice Test Materials</p>
						<p><a href="http://fsassessments.org/students-and-families/training-tests/paper-based-training-test-materials/" class="btn btn-primary" role="button">Paper-Based Tests</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="../js/menu.js"></script>




</body>
</html>
