<!-- Test Page -Under Construction- -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>PK Yonge EOC Exams</title>
	
	<!-- Bootstrap itself -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="../css/style.css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

		
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

				<li><a href="#head" class="active">Hello</a></li>
				<li><a href="#about">About</a></li>
			</ul>
		</div>
	</div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
				<div id="topBar">
    
				    <a href="#contents" id="skipNav" tabindex="0">Skip navigation</a>
					
				    <div id="infoBar" role="banner">
				    	<div id="jumpQuestions">
				        	<label id="jumpLabel" i18n-content="TestShellModern.Label.Items"></label>
				            <select id="ddlNavigation" name="ddlNavigation" aria-labelledby="jumpLabel"><option value="G-215-960-0" class="">1 - 9</option><option value="G-215-966-0" class="">10 - 12</option><option value="G-215-967-0" class="">13 - 15</option><option value="G-215-961-0" class="">16 - 18</option></select>
				    	    <input id="jumpGo" type="button" value="Go" aria-label="Press enter to jump to question" style="display:none;">
				        </div>
				        <h1 id="lblTestName" tabindex="-1">Grades 9-10 ELA Reading Training Test (0 completed out of 18)</h1>
				        <h2 id="lblStudentName">GUEST, GUEST (Username: GUEST)</h2>
				        <span class="sessionID topSessionID">GUEST Session</span>
				        <div id="smallButtons">
				        	<a href="#" id="btnHelp" aria-haspopup="true" tabindex="-1">Help</a>
				            <a href="#" id="btnSettings" aria-haspopup="true" style="display: none;">Settings</a>
				            <a href="#" id="proctorLogout" aria-hidden="true" style="display:none;">Log Out</a>
				        </div>
				    </div>
				    <nav id="navigation" role="navigation" class="Content_Yes Layout_21 Passage_Yes">
				    	<ul id="studentControls" tabindex="-1">
				    		<li class="inactive">
				    			<a id="btnBack" class="back" tabindex="-1" href="#" role="button" aria-disabled="true" aria-hidden="false" disabled="disabled">
				    			<span class="icon"></span>
				    			<span class="label">Back</span>
				    			</a>
				    		</li>
				    		<li class="active">
				    			<a id="btnNext" class="next" tabindex="-1" href="#" role="button" aria-disabled="false" aria-hidden="false"><span class="icon"></span>
				    				<span class="label">Next</span>
				    			</a>
				    		</li>
				    		<li class="active">
				    			<a id="btnSave" class="save enable" tabindex="-1" href="#" role="button" aria-disabled="false" aria-hidden="false">
				    			<span class="icon"></span>
				    			<span class="label">Save</span>
				    			</a>
				    		</li>
				    		<li class="active">
				    			<a id="btnPause" class="pause" tabindex="-1" href="#" role="button" aria-disabled="false" aria-hidden="false">
				    				<span class="icon"></span>
				    				<span class="label">Pause</span>
				    			</a>
				    		</li>
				    		<li class="active"><a id="btnEnd" class="endTest confirmexitCSS" tabindex="-1" href="#" role="button" aria-disabled="false" aria-hidden="false">
				    			<span class="icon"></span><span class="label">End Test</span>
				    			</a>
				    		</li>
				    		<li class="active" style="display: none;">
				    			<a id="btnItemScore" tabindex="-1" href="#" role="button" aria-disabled="false" aria-hidden="true">
				    				<span class="icon"></span>
				    				<span class="label">Item Score</span>
				    			</a>
				    		</li>
				    		<li class="inactive">
				    			<a id="btnResults" class="endTest" tabindex="-1" href="#" role="button" aria-disabled="true" aria-hidden="false">
				    			<span class="icon"></span>
				    			<span class="label">Test Results</span>
				    			</a>
				    		</li>
				    	</ul>
				    </nav>
				</div>
			</div> 
		</div> 
	</div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container">
	
		<h2 class="text-center title">About</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>About the Training and Practice Tests<br></strong></h5>
				<p>
					The purpose of the training and practice tests is for students to become familiar with the CBT system, functionality, and item types; the training/practice tests are not intended to guide classroom instruction. Descriptions and response instructions for each item type are included in the Training and Practice Tests Quick Guide. Users should refer to the tutorials on each item or the guide to familiarize themselves with the different features and response instructions for each item type.
					<br><br>
					Training tests were released in 2014 and contain test items for multiple grade levels (subjects for EOC). Grade-level and subject-specific practice tests are being developed for release beginning in Fall 2015. Please see the list for the availability of practice tests. Please note that the training tests will be available until all practice tests are published. 
				</p>    
			</div>
			<div class="col-sm-4">
				<h5><strong>Other information<br></strong></h5> 
				<p>
		            Answer keys for English Language Arts (ELA) Reading and Mathematics training and practice tests that list the item, correct answer, and grade level/subject of each item are also available for each published training/practice test. ELA Writing rubrics are available under the <a href="http://fsassessments.org/resources">FSA Resources section</a>
		            <br><br>
		            Users must use the Secure Browser or a supported Web browser to access the Training and Practice Test site. The supported Web browsers for the training and practice tests are Firefox 10–36, Chrome 41–44, Safari 5–8, or Internet Explorer 10–11.
		        </p>
			</div>
		</div>
	</div>
</section>

<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="../js/menu.js"></script>




</body>
</html>