<!-- The view-test view -->
<section id="take-test" ng-controller="QuestionsController" ng-init="loadQuestions()">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 test-con">
				<h2 class="test-title">{{testName}}</h2>
		  </div>

		<div class="row">
			<div class="col-md-5">
			<!--ng-progressbar directive -->
				<ng-progressbar type="info" max="{{max_count}}" start="{{timer_running}}" on-stop="stopProgress()">
				</ng-progressbar> 
			</div>
			<span class="label label-success" ng-if="timer_running">Test in Session</span>
			<span class="label label-danger" ng-if="!timer_running">Test Not in Session</span>
		</div>

				<a ng-click="openCalcWindow()" class="btn btn-default"><i class="fa fa-calculator"></i> <span class="network-name">Calculator</span></a>

				<button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="previousQuestion()"><span class="glyphicon glyphicon-arrow-left"></span></button>

					{{currentPage+1}}/{{numberOfPages()}}

				<button class="btn btn-default" ng-disabled="currentPage >= testQuestions.questions.length - 1" ng-click="nextQuestion()"><span class="glyphicon glyphicon-arrow-right"></span></button>
				<button class="btn btn-default" ng-click="showTextArea()"><span class="glyphicon glyphicon-pencil"></span> Notepad</button>
				<button class="btn {{marked}}" ng-click="mark_unmark()"><span class="glyphicon glyphicon-flag"></span> {{reviewButtonText}}</button>
				

				<!-- DROP DOWN MENU WITH NOTEPAD/MARK FOR REVIEW/TUTORIAL/STRIKETHOUGH/etc/ --
				<button class='btn btn-default'> <span uib-dropdown on-toggle="toggled(open)"> 
      <a href id="simple-dropdown" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-align-justify"></span>
      </a>

      <ul class="notepad uib-dropdown-menu" aria-labelledby="simple-dropdown">
        <!--<li ng-repeat="choice in items">
          <a href>{{choice}}</a>- ->
          <li class="notepad"><!--<span class="glyphicon glyphicon-align-calendar"></span> - -><a href>Notepad</a></li>
          <li class="markReview"><a href>Mark for Review</a></li>
      </ul>
        </span></button> -->
				<div ng-repeat="question in testQuestions.questions | startFrom:currentPage | limitTo:1">
					<h2 class="question-title">{{question.question_body}}</h2>
					<form>
						<div ng-repeat="answer_choice in question.answer_choices">
							<div class="radio">
								<label class="answer-choice">
									<input type="radio" ng-model="formData.answer" name="answerChoice" value="{{$index}}">
									{{answer_choice}}
								</label>
							</div>
						</div>
					<!--
	 					<input type="submit" class="btn btn-default" value="Save Answer Choice"></input>
						<p class="save-notice">If you select an answer, you must save it before moving on!</p>
					 -->
						<button class="btn btn-success" ng-if="!timer_running" ng-click="startProgress()">Start Test</button>
			  			<button class="btn btn-warning" ng-if="timer_running" ng-click="stopProgress()">Pause Test</button>
						<button class="btn btn-default" ng-click="submitTest();stopProgress()">SUBMIT TEST</button>
						<div ng-show="showNotes" class='question_notes' ng-style="{left: divleft, top: divtop, width: divwidth, height: divheight}" draggable xpos="divleft" ypos="divtop">
							<div class='question_notes2'>
								<h2>Notepad</h2>
									<div class='question_notes3'>
									<textarea ng-model='Notepad.message' name="noteArea" cols="40" rows="10">{{message}}</textarea>
									</div>
								<div class='notepad_footer'>
									<span class='button-group'>
										<span class='notepad_cancel1'>
											<span class='notepad_cancel2'>
										<button class="btn btn-default notepad_cancel_button" ng-click='cancelNotes()'>Cancel</button>
											</span>
										</span>

										<span class='notepad_save1'>
											<span class='notepad_cancel2'>
										<button  class="btn btn-default notepad_save_button" ng-click='saveNotes()'>Save & Close</button>
											</span>
										</span>
									</span>
								</div>
								<div class="underlay"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>