<!-- The view-test view -->
<section id="choose-test" class="container" ng-controller="QuestionsController" ng-init="loadQuestions()">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>View Test</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 test-con">
			<h2 class="test-title">Title</h2>
			<p>User's session ID: {{userSID}}</p>
			<p>User's test ID: {{testID}}</p>
		</div>
		<div class="col-md-6 test-con">
			<h2 class="test-title">Title</h2>
			<p>{{testQuestions}}</p>
		</div>
	</div>
</section>
